body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
  }
  h1 {
    color: #2c3e50;
  }
  
  a {
    color: #f7f9fa;
    text-decoration: none;
    font-size: 1.2rem;
    align-content: center;
    text-align: center;

  }
  a:hover {
    text-decoration: underline;
  }

  div {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  }
